.feed {
    flex: 0.4;
    border-right: 1px solid var(--bitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tweetsContainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.tweetsContainer {
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.feed__header {
    position: sticky;
    top: 0;
    z-index: 100;
    border: 1px solid var(--bitter-background);
    padding: 15px 20px;
}

.feed__header>h2 {
    font-size: 20px;
    font-weight: 800;
}

.tweetsContainer {
    list-style: none;
    min-width: fit-content;
}