.edit-button {
    background-color: whitesmoke;
    border: none;
    color: brown;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    margin-top: -200px;
    border-radius: 12px;
    float: right;
  }