.sidebar{
    border-right: 1px solid var(--bitter-color);
    flex:0.3;
    min-width: 250px;
    margin-top:20px; 
    padding-left: 20px;
    padding-right:20px 
}

.sidebar_bitterIcon{
    color: var(--bitter-color);
    font-size:30px !important; 
    margin-left:20px; 
    margin-bottom: 20px;
}

.sidebar_bleepBtn{
    background-color: var(--bitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900  !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
}