* {
    margin: 0
}

/*Global CSS Variables*/

body {
    --bitter-color: #784A36;
    --bitter-background: #EEE6D8;
}

.appContainer {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}