* {
    margin: 0
}

/*Global CSS Variables*/

body {
    --bitter-color: #784A36;
    --bitter-background: #EEE6D8;
    background: linear-gradient(45deg, rgba(138, 31, 31, 0.878),rgba(104, 143, 30, 0.581))
}

.appContainer {
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;

}

.join{
    align-content: center;
    text-align: center;
    font-size: xx-large
}
.email-input{
    width: 250px;
}
.register-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    background: radial-gradient(circle,rgb(153, 94, 71) 5%,rgb(153, 94, 71) 5%);
    border-radius: 0 0 150px 150px;
    top: 50%;
    text-align: center;
}
.register-container::before {
    content: '';
    display: block;
    height: 30px;
    width: 235px;
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle,rgba(132, 102, 76, 1) 5%,rgba(86, 44, 8, 1) 96%);
    top: -17px;
    left: 10px;
    z-index: 9;
}

.register-container::after{
    content: '';
    display: block;
    height: 45px;
    width: 255px;
    position: absolute;
    border-radius: 50%;
    background: white;
    top: -25px;
    left: -1px;
    border: 5px solid #e6e6e6;
}
.coffee-hand{
    width: 85px;
    height: 70px;
    position: absolute;
    background: linear-gradient(45deg, rgba(138, 31, 31, 0.878),rgba(104, 143, 30, 0.581));
    border-radius: 32px;
    transform: rotate(-36deg);
    z-index: -1;
    border: 15px solid #86563C;
    top: 20%;
    left: 85%;
}

.coffee-plate{
    width: 400px;
    top: 68%;
    left: -30%;
    height: 139px;
    background: radial-gradient(circle,rgb(202, 164, 131) 5%,rgb(202, 164, 131) 5%,rgb(202, 164, 131) 5%);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    border: 2px solid #f0f0f0;
    box-shadow: 1px 3px 0px 1px #323232;
}

.coffee-plate::after{
    content: '';
    display: block;
    width: 405px;
    top: 68%;
    border-radius: 50%;
    height: 145px;
    background: transparent;
    box-shadow: 2px 5px 8px 3px #bababa;
}
.slogan{
    font-size: large;

}
.signup-btn{
   height: 20px;
   width: 20px;
   border: 5px solid rgb(115, 71, 23);

}


/* text-align: center;
    padding: 30px;
    width: 25vw;
    align-items: center;
    justify-content: space-around;
    background-color: #02975ea4;
    border-radius: 40px;
    color: white;
    display: flex;
    font-family: 'Righteous', cursive; */

/* height: 100vh;
max-width: 1100px;
margin-left: auto;
margin-right: auto;
padding: 0 10px;  */
